# fly.toml app configuration file generated for memory-game-server-1 on 2026-02-19T07:51:15-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'memory-game-server-1'
primary_region = 'iad'

[build]
  [build.args]
    GO_VERSION = '1.22.2'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
